:root {
    --accent__color: #fefefe;
    --accent__colorCommon: #909090;
    --accent__colorParagraph: #c7c7c7;
    --accent__borderRadius: 5px;

    --accent__backgroundButton: #f0f2f5;
    --accent__colorButton: #d0d0d0;
    --accent__backgroundHoverButton: #e0e0e0;
    --accent__colorHoverButton: #adadad;
    --accent__backgroundDisableButton: #f5f5f5;
    --accent__colorDisableButton: #e4e4e4;

    --note__backgroundBlue: #e5f6ff;
    --note__backgroundPurple: #f6f3ff;
    --note__backgroundGreen: #e2f6e9;
    --note__backgroundRed: #fff0e9;
    --note__titleBlue: #2b71ff;
    --note__titlePurple: #604bba;
    --note__titleGreen: #3c9859;
    --note__titleRed: #ff562d;
}